<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dupuy.remi.outerspacemanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SignUpActivity"
            android:label="@string/menu_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".BuildingsActivity"
            android:label="@string/title_activity_buildings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewBuildingActivity"
            android:label="@string/title_activity_view_building"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FleetActivity"
            android:label="@string/title_activity_fleet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GalaxyActivity"
            android:label="@string/title_activity_galaxy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShipsActivity"
            android:label="@string/title_activity_ships"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".SearchesActivity" />
        <activity android:name=".SearchesDetailActivity" />
    </application>

</manifest>